body, html{
    height:100%;
}
.container{
}
.bgImage img{
    height: 100%;
    width: 100%;
    background-size:cover;
    background-image: url('images/coffee-desk-laptop-notebook(2).jpg');
    background-repeat: no-repeat;
    margin:1%;
    margin-top: 0;
    margin-bottom:10px;    
}
.heading{
    width: 100%;
    height: 60px;
}

#myName{
    font-weight:500;
    font-size: 50px;
    color: #118C8B;
    width: 55%;
    height: 60px;
    float: left;
    font-family: 'Courgette', cursive;
    padding-left: 13%;
}
#navbar{
    position:absolute;
    top:0;
    right:0;
    font-weight: bold;
    font-size: 20px;
}
#navbar a{
        color: #118C8B;
        font-size: 18px;
        text-decoration: none;
        padding-right: 10px;
} 
#navbar a:hover{
    background-color:azure;
    color: darkred;
}
#navbar li{
    list-style: none;
    display: inline-block;
}

.icon{
    display:none;
}

#myName{
    font-weight:500;
    font-size: 44px;
    overflow:hidden;
}

#previous{
    font-size: 3em;
    color:darkcyan;
    text-align: center;
}

.firstSection{
    width: 100%;
    text-align: center; 
}

.secondSection{
    width: 100%; 
    text-align: center;
    padding-bottom: 10%;
}
.firstSection img{
    width: 30%;
    margin:1%;
    margin-bottom: 3%;
    border: 1px solid orange;
}

.secondSection img{
    width: 30%;
    margin:1%;
    border: 1px solid orange;
}
img:hover{
    box-shadow: 0 0 8px #88D5E9;
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    opacity: 0.2;
}

.myInfo{
    width: 35%;
    display:inline-block;
    float:left;
    font-family: 'Josefin Sans', sans-serif;
    background-color:#4691A4;
    color:white;
    border: 2px solid;
    border-radius:13px;
    padding:20px;
    margin-right:7%;
    margin-left:2%;
}
.formDesign{
    width: 45%;
    display:inline-block;
    float:left;
    border-left: 3px solid #F2F6F7;
    padding-left:4%;
}
.headInfo{
    font-size: 2em;
    font-weight: bold;
}
.formDesign ul{
    font-family: 'Josefin Sans', sans-serif;
}
.formDesign li{
    list-style: none;
    margin-bottom: 15px;
    padding:0;
    
}
.formDesign label{
    display: block;
    margin: 0 0 4px 0;
    padding:0;
}
.formDesign input[type=text], textarea, select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #BEBEBE;
    padding: 7px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}
.formDesign input[type=text]:focus, textarea:focus, select:focus{
    box-shadow: 0 0 8px #88D5E9;
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;

}
.divided{
    width: 47.25%;
}
.email{
    width: 95%;
}
.select{
    width: 95%;
}
.textarea{
    height: 100px;
    width: 95%;
    resize: none;
}
.submit{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
    border-radius: 5px;
}
.submit:hover{
    background: #4691A4;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.required{
    color: red;
}

#socialMedia{
    background-color: #118C8B;
    
    text-align: center;
    padding-bottom: 25px;
    clear:both;
    position:relative;
}
#socialMedia p{
    font-size: 28px;
    padding-top: 25px;
    color:white;
}
#socialMedia i{
    color:white;
    padding-right: 12.5px;
    padding-left: 12.5px;
    padding-bottom:25px;
}
#socialMedia i:hover{
    
}
#copyright{
    text-align:left;
    font-size: 15px;
    position:absolute;
    bottom:0;
    
}

/* cater to different screen sizes. */

@media screen and (max-width:450px){
    
    .firstSection img {
        display:block;
        width:90%;
        margin:0 auto;
        margin-bottom:9%;
    }
    .secondSection img{
        display:block;
        width:90%;
        margin:0 auto;
        margin-bottom:9%;
    }
}
@media screen and (max-width:768px){
    
    #navbar a{
        display:none;
    }
    #navbar{
        height:0;
    }
    #navbar a.icon{
        float: right;
        display: block;
        padding: 0;
        margin: 0;
        top: 25px;
        right:0;
    }
    #navbar.topNav.responsive{
        height:100%;
        width:100%;
        position:fixed;
        z-index:1;
        left:0;
        top:0;
        background-color:rgb(0,0,0);
        background-color:rgba(0,0,0,0.9);
        overflow-x:hidden;
        transition:0.5s;
    }
    #navbar.topNav.responsive ul{
        position:relative;
        top:25%;
    }
    #navbar.topNav.responsive li{
        display: block;
        position:relative;
        width:100%;
        text-align:center;
    }
    #navbar.topNav.responsive a{
        display: block; 
        padding:8px;
        font-size:36px;
        transition:0.5s;
    }
    #navbar.topNav.responsive a.icon{
        position:fixed;
        top: 0;
        right:0;
    }
    .myInfoContact{
        margin:20px;
        padding:20px;
        overflow:hidden;
        text-align:center;
    }
    .myInfo{
        width:80%;
        margin:0 auto;
        margin-bottom:70px;
        float:none;
    }
    .formDesign{
        width:80%;
        float:none;
        border: 3px solid #F2F6F7;
        padding:3%;
    }
    .formDesign ul{
        padding-left:0;
    }
    
   
}

@media screen and (min-width:481px) and (max-width:768px){
    
}

@media screen and (min-width:769px){
    
}
