 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

 body {
     font-size: 16px;
 }

 header .container {
     width: 100%;
     padding: 0;
     max-width: 100%;
 }

 header {
     background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('coffee-desk-laptop-notebook(2).jpg');
     height: 100vh;
     min-height: 400PX;
     background-position: center center;
     background-size: cover;
     position: relative;
     background-attachment: scroll;
 }

 header nav {
     padding: 0.2em 0;
     background-color: transparent;
     position: relative;
     z-index: 2;
     
 }

 .logo {
     text-transform: uppercase;
     font-weight: 700;
     font-size: 30px;
     font-family: 'Tangerine', cursive;
     padding-left: 0.7em;
 }

 .logo a {
     text-decoration: none;
     color: #118C8B;
 }

 .logo span {
     font-weight: 300
 }

 .main-nav {
     background-color: black;
     width: 100%;
     list-style-type: none;
     position: absolute;
     top: 100%;
     right: 0;
     border-bottom-right-radius: 5px;
     border-bottom-left-radius: 5px;
   /*  clip-path: circle(0px at top right);
     transition: clip-path ease-in-out 0.7s; */
     transform: translateX(-115%);
     transition: all ease-in-out 0.7s;
 }

 .main-nav li {
     border-bottom: 1px solid rgba(255, 255, 255, 0.3);
     text-align: center;
 }

 .main-nav li:last-child {
     border: none;
 }

 .main-nav a {
     text-decoration: none;
     display: inline-block;
     width: 100%;
     padding: 2em 4em;
     color: #fff;
     text-transform: uppercase;
     transition: background-color ease 0.9s;
 }

 .main-nav a:hover,
 .main-nav a:focus {
     background-color: rgba(255, 255, 255, 0.8);
     color: #000;
 }

 .menu-toggle-wrapper {}

 .menu-toggle {
     padding: 1em;
     background-color: black;
     cursor: pointer;
     position: absolute;
     right: 1em;
     top: 1em;
 }

 .hamburger,
 .hamburger:before,
 .hamburger:after {
     content: "";
     display: block;
     background-color: #fff;
     border-radius: 5px;
     height: 3px;
     width: 1.75em;
     transition: transform 0.3s ease;
 }

 .hamburger:before {
     transform: translateY(-6px);
 }

 .hamburger:after {
     transform: translateY(3px);
 }

 .menu-toggle.open .hamburger:before {
     opacity: 0;
 }

 .menu-toggle.open .hamburger {
     transform: rotate(45deg);
 }

 .menu-toggle.open .hamburger:after {
     transform: translateY(-3px) rotate(-90deg);
 }

 .main-nav.main-nav--open {
    /* clip-path: circle(250% at top right); */
     transform: translateX(0px);
 }

 .centered {
     height: 100vh;
     width: 100%;
     background-color: transparent;
     position: absolute;
     top: 0;
     left: 0;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     z-index: 1;
     text-align: center;
 }

 .centered h1 {
     font-size: 50px;
     font-weight: 800;
     line-height: 1.5;
     color: #fff;
     text-shadow: 2px 2px 5px black;
     text-transform: capitalize;
     margin-bottom: 50px;
     
 }

 .centered p {
     font-size: 23px;
     color: #fff;
     line-height: 1.5;
     margin-bottom: 40px;
 }

 .cta-btn {
     padding: 1em 1.7em;
     border: 3px solid #118C8B;
     display: inline-block;
     border-radius: 500px;
     color: #118C8B;
     font-weight: bold;
     font-size: 1.5em;
     background-color: transparent;
     margin-top: 20px;
     font-weight: bold;
     font-size: 1.5em;
     text-decoration: none;
     transition: 0.3s ease;
 }


 .cta-btn:hover,
.cta-btn:focus {
     box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
     text-decoration: none;
     color: #fff;
 }

 main {
     background: linear-gradient(94deg, rgba(87, 206, 37, 0.81), rgba(28, 62, 216, 0.81));

     background-size: cover;
     background-position: center top;
     min-height: 80vh;
 }


 
 /*

body, html{
    height:100%;
}
.container{
    
}
.bgImage img{
    height: 100%;
    width: 100%;
    background-size:cover;
    background-image: url('images/coffee-desk-laptop-notebook(2).jpg');
    background-repeat: no-repeat;
    margin:1%;
    margin-top: 0;
    margin-bottom:10px;    
}
.heading{
    width: 100%;
    height: 60px;
}

#myName{
    font-weight:500;
    font-size: 50px;
    color: #118C8B;
    width: 55%;
    height: 60px;
    float: left;
    font-family: 'Courgette', cursive;
    padding-left: 13%;
}
#navbar{
    position:absolute;
    top:0;
    right:0;
    font-weight: bold;
    font-size: 20px;
}
#navbar a{
        color: #118C8B;
        font-size: 18px;
        text-decoration: none;
        padding-right: 10px;
} 
#navbar a:hover{
    background-color:azure;
    color: darkred;
}
#navbar li{
    list-style: none;
    display: inline-block;
}

.icon{
    display:none;
}

#myName{
    font-weight:500;
    font-size: 44px;
    overflow:hidden;
}

*/

 #portfolio {
     margin-bottom: 50px;
     text-align: center;
}

 #portfolio p {
     font-size: 3em;
     color: darkcyan;
     text-align: center;
     margin: 40px 0;
 }
#portfolio .desc {
    font-size: 20px;
}
#portfolio .row .col-sm-8{
    padding-bottom: 5%;
}
#portfolio .row .col-sm-8:after {
    content: "";
    display: block;
    width: 50%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 8%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#portfolio .row .col-sm-8.no-after:after {
    background-color: transparent;
}
 /*
 .firstSection {
     width: 100%;
     text-align: center;
 }

 .secondSection {
     width: 100%;
     text-align: center;
     padding-bottom: 10%;
 }

 .firstSection img {
     width: 30%;
     margin: 1%;
     margin-bottom: 3%;
     border: 1px solid orange;
 }

 .secondSection img {
     width: 30%;
     margin: 1%;
     border: 1px solid orange;
 }
*/
 /*
 img:hover {
     box-shadow: 0 0 8px #88D5E9;
     -moz-box-shadow: 0 0 8px #88D5E9;
     -webkit-box-shadow: 0 0 8px #88D5E9;
     opacity: 0.2;
 }
*/
.myInfoContact {
   
    background: linear-gradient(-94deg, rgba(87, 206, 37, 0.81), rgba(28, 62, 216, 0.81));
    min-height: 70vh;
    padding: 110px 0 0 0;
}
.myInfoContact:after{
    content: "";
    display: table;
    clear: both;
}
 .myInfo {
     width: 35%;
     float: left;
     font-family: 'Josefin Sans', sans-serif;
     color: white;
    
     border-radius: 13px;
     padding: 20px;
     color: #fff;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     
 }
#contact {
    width: 60%;
    float: right;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    margin-top: 30px;
     border-radius: 13px;
     padding: 20px;
     color: #fff;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    text-align: center;
}
#contact h3 {
    
}
#contact p {
    
}
 .formDesign {
     width: 45%;
     display: inline-block;
     float: left;
     border-left: 3px solid #F2F6F7;
     padding-left: 4%;
 }

 .headInfo {
     font-size: 2em;
     font-weight: bold;
 }

 .formDesign ul {
     font-family: 'Josefin Sans', sans-serif;
 }

 .formDesign li {
     list-style: none;
     margin-bottom: 15px;
     padding: 0;

 }

 .formDesign label {
     display: block;
     margin: 0 0 4px 0;
     padding: 0;
 }

 .formDesign input[type=text],
 textarea,
 select {
     box-sizing: border-box;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     border: 1px solid #BEBEBE;
     padding: 7px;
     -webkit-transition: all 0.30s ease-in-out;
     -moz-transition: all 0.30s ease-in-out;
     -ms-transition: all 0.30s ease-in-out;
     -o-transition: all 0.30s ease-in-out;
 }

 .formDesign input[type=text]:focus,
 textarea:focus,
 select:focus {
     box-shadow: 0 0 8px #88D5E9;
     -moz-box-shadow: 0 0 8px #88D5E9;
     -webkit-box-shadow: 0 0 8px #88D5E9;

 }

 .divided {
     width: 47.25%;
 }

 .email {
     width: 95%;
 }

 .select {
     width: 95%;
 }

 .textarea {
     height: 100px;
     width: 95%;
     resize: none;
 }

 .submit {
     background: #4B99AD;
     padding: 8px 15px 8px 15px;
     border: none;
     color: #fff;
     border-radius: 5px;
 }

 .submit:hover {
     background: #4691A4;
     box-shadow: none;
     -moz-box-shadow: none;
     -webkit-box-shadow: none;
 }

 .required {
     color: red;
 }

 #socialMedia {
     background-color: #4969D6;
     background-color: rgba(255, 255, 255, 0.8);
     text-align: center;
     padding-bottom: 2em;
     clear: both;
     position: relative;
 }

 #socialMedia p {
     font-size: 28px;
     padding-top: 25px;
     color: #000;;
 }

 #socialMedia i {
     color: #000;
     margin-right: 12.5px;
     margin-left: 12.5px;
     margin-bottom: 25px;
 }
.icon-cog {
  color: green;
}
 
#socialMedia .linkedin:hover {
     color: #0077B5;
}
#socialMedia .github:hover {
     color: #702B84;
}

#socialMedia .frontendmentor:hover {
    color: #0077B5;
}

 #copyright {
     font-size: 0.8rem;
     color: #000;

 }
/*
display: inline-block;
            color: #fff;
            border-radius: 4px;
            z-index: 99;
            cursor: pointer;
            position: fixed;
            bottom: 20px;
            right: 20px;
            visibility: hidden;
            opacity: 0;
            -webkit-transition: 0.5s;
            -o-transition: 0.5s;
            transition: 0.5s;
*/
.arrow-up {
    background: rgba(0, 0, 0, 0.5);
    height: 50px;
    width: 50px;
    border-radius: 5px;
    line-height: 50px;
    text-align: center;
    margin: 10px 10px;
    position: fixed;
    right: 10px;
    bottom: 20px;
    cursor: pointer;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    
}
.arrow-up:hover {
    background: rgba(0, 0, 0, 0.7);
}
.arrow-up.active {
            visibility: visible;
            opacity: 1;
        }
 /* cater to different screen sizes. */

 @media screen and (max-width:450px) {

     .firstSection img {
         display: block;
         width: 90%;
         margin: 0 auto;
         margin-bottom: 9%;
     }
     .secondSection img {
         display: block;
         width: 90%;
         margin: 0 auto;
         margin-bottom: 9%;
     }
 }

 @media screen and (max-width:768px) {
     .myInfoContact {
         margin: 20px;
         padding: 50px 50px 0 0;
         overflow: hidden;
         text-align: center;
     }
     .myInfo {
         width: 100%;
         margin: 0 auto;
         margin-bottom: 70px;
         float: none;
     }
     
     #contact {
         width: 100%;
         margin: 0 auto;
         margin-bottom: 70px;
         background: ;
     }
     .formDesign {
         width: 80%;
         float: none;
         border: 3px solid #F2F6F7;
         padding: 3%;
     }
     .formDesign ul {
         padding-left: 0;
     }


 }
@media screen and (min-width:768px) {
    header .container {
         width: 95%;
         max-width: 1200px;
         margin: 0 auto;
     }
     header {
         background-attachment: fixed;
     }
     header nav {
         background-color: transparent;
     }
     .main-nav {
         position: relative;
         background-color: transparent;
         clip-path: initial;
         text-align: right;
         transform: translateX(0);
     }
     .logo {
         float: left;
     }
     .main-nav li {
         display: inline;
         border: none;
     }
     .main-nav a {
         display: inline-block;
         width: auto;
         padding: 0 2em;
         letter-spacing: 1.5px;
     }
     .main-nav a:after {
         content: "";
         display: none;
         width: 100%;
         height: 2px;
         margin-top: 8px;
         background-color: rgba(255, 255, 255, 0.9);
     }
     .main-nav a:hover,
     .main-nav a:focus {
         background-color: transparent;
         color: #fff;
         text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.3);
     }
     .main-nav a:hover:after {
         display: block;
     }

     .menu-toggle {
         display: none;
     }
 }

 