/* All elements: font-size: 16px, line-height:16px, vertical-align: baseline */

.navigation {
    text-align: center;
    width: 100%;
}
.navigation li {
    display: inline-block;
    vertical-align: middle;
}
.menu-items {
    width: 95px;
    padding: 10px;
}
.menu-items a {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}
.menu-items a:hover {
    text-decoration: none;
    color: forestgreen;
}
.logo {
    height: 140px;
}
#hamburger {
    display: none;
}
.social-media {
    
}






/* MEDIA QUERIES FOR RESPONSIVENESS */

@media screen and (max-width: 750px){
    
    .navigation li {
        display: none;
    }
    #hamburger {
        display: block;
        color: #000000;
        position: relative;
  `     padding-left: 1.25em;
    }
    #hamburger:before {
        content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 1em;
  height: 0.15em;
  background: black;
  box-shadow: 
    0 0.25em 0 0 black,
    0 0.5em 0 0 black;

  
  width: 1em;
  height: 0.125em;
  border-top: 0.375em double #000;
  border-bottom: 0.125em solid #000;
        
    }
}