	#top-bar{
		width:1000px;
		margin:0 auto;
		height: 40px;
		
	}
	
	body{
		margin:0;
		padding:0;
		font-family: Helvetica, Arial, sans-serif;
	}
	
	#logo{
	margin-top:10px;
	width:100px;
	float:left;
	margin-right: 8px;
	}
	.topbar-section{
		float:left;
		border-left: 1px #CCCCCC solid;
		height:100%;
	}
	#sign-in-image{
		height:25px;
		margin:13px 5px;
		float:left;
	}
	#sign-in-text{
		font-weight:bold;
		margin-top:10px;
		position:relative;
		top:14px;
		padding-right:50px;
	}
	
	#wiggly{
		float:left;
		height:40px;
	}
	#bell{
		margin: 9px 8px;
		margin-right:14px;
	}
	#bell-div{
		float:left;
	}
	.topbar-menu{
		font-weight:bold;
		font-size:90%;
		padding:13px 15px 0px 15px;
		height:27px;
	}
	#more-arrow{
		width:15px;
		margin-left:15px;
	}
	#search-box{
		background-color:#E4E4E4;
		border:none;
		font-weight:bold;
		font-size:14px;
		padding:5px;
		margin: 5px 0 5px 5px;
		float:left;
		width:120px;
	}
	#magnifying-glass{
		margin-top:5px;
		height:26px;
	}
	.clear{
		clear:both;
	}
	#menu-bar-container{
		background-color:#B81919;
		height:70px;
		width:100%;
		border-top: 1px solid #CCCCCC;
	}
	#menu-bar{
		width:1000px;
		margin:0 auto;
		
	}
	h1{
		padding:0;
		margin:0;
		color:white;
		font-size:40px;
		font-weight:normal;
		padding-top:10px;
		
		float:left;
		
	}
	#local-news{
			border:1px #B84545 solid;
			float:right;
			width:180px;
			padding: 5px 5px 0 5px;
			margin:10px 10px 0 0;

	}
	#local-news a{
		color:white;
		text-decoration:none;
		font-size:20px;
		position:relative;
		top:-10px;

	}
	#local-news a:hover{
		text-decoration:underline;
	}
	#local-news img{
		height:30px;
		position:relative;
		top:-2px;
	}
	#menu-bar-2-container{
		background-color:#A91717;
		width:100%;
	}
	#menu-bar-2{
		width:1000px;
		margin:0 auto;
		height:40px;
	}
	#menu-bar-2 a{
		color:white;
		text-decoration:none;
		margin-top:5px;
		padding:0 10px;
		border-left: solid 1px #EB4545;
		font-size:14px;
		position:relative;
		top:11px;
	}
	#menu-bar-2 a:hover{
		text-decoration:underline;
	}
	.no-border{
		border:none !important;
	}
	#down-arrow{
		height:16px;
		position:relative;
		top:13px;
	}
	#main-article{

	}
	#page-container{
		width:1000px;
		margin:0 auto;
		
	}
	h2{
		font-weight:normal;
		font-size:20px;
		margin-top:10px;
		border-bottom:2px solid #a91717;
		width:105px;
	}
	h3 a{
		color:black;
		font-size:30px;
		text-decoration:none;
	}
	h3 a:hover{
		color:#1167a8;
	}
	#article-summary{
		color:#5a5a5a;
		width:280px;
		float:left;
	}
	.clock{
		height:15px;
		margin-right:2px;
		position:relative;
		top:1px;
	}
	.topic-link{
		text-decoration:none;
		color:#a91717;
		border-left:1px solid #CCCCCC;
		padding-left:8px;
	}
	#article-summary a:hover{
		color:#1167a8;
	}
	.date{
		margin-right:4px;
		color:#5a5a5a;
	}
	#asda{
		width:350px;
		margin-left:10px;
	}
	#article-container{
		float:left;
		width:650px;
		border-right: 1px solid #CCCCCC;
	}
	#article-hr{
		border-top:1px solid #a91717;
		width:50px;
	}
	.article-link{
		text-decoration:none;
		color:black;
	}
	#watch-listen{
		width:280px;
		float:right;
		margin-left:20px;
	}
	.article-side-image{
		float:left;
		width:90px;
		margin-right:10px;
	}
	.watch-listen-link{
		text-decoration:none;
		color:black;
		font-weight:bold;
		font-size:18px;
		
	}
	.watch-listen-link:hover{
		color:#1167a8;
	}
	.side-article{
		float:right;
		width:180px;
		position:relative;
		bottom:17px;
	}
	.no-border{
		border:left:none;
		padding:0;
	}
	.border-right{
		border-right:1px solid #CCCCCC;
		padding:4px;
	}